# utils - data generation

In [1]:
%reload_ext autoreload
%autoreload 2

from utils.data_generation import create_faker_profile_data
from utils.data_generation import FakerProfileDataSnapshot

create_faker_profile_data(3, None, 1)

,job,company,ssn,residence,current_location,blood_group,website,username,name,sex,address,mail,birthdate
0,Contractor,"Boone, Gallagher and Scott",508-98-7365,17066 Heather Grove Apt. 915\nNorth Anthonysid...,"(-31.8570425, 46.622110)",A+,"[https://hall.info/, https://www.monroe-hawkin...",paula86,Misty Phillips,F,"4978 Chapman Bypass\nSanchezfurt, TN 23177",ana51@yahoo.com,1996-12-15
1,Rural practice surveyor,Osborne PLC,861-51-6071,"0499 Holland Extension\nNorth Kaylee, OH 30932","(18.570026, 95.829061)",AB-,"[https://kelley.net/, http://www.herring-casti...",andreawhite,Alfred Hall,M,"11070 Wright Creek Apt. 541\nEast Jonathan, TN...",shawn57@yahoo.com,1922-02-28
2,Aeronautical engineer,Hughes-Fisher,193-34-1782,"603 Ray Camp\nSouth Janet, NE 71896","(-30.7832065, 158.643048)",O-,"[http://johnston.com/, https://www.hutchinson....",icunningham,Teresa Manning,F,"397 Maria Ways\nSouth Jamesville, OK 88863",fvargas@gmail.com,1997-04-03

In [2]:
datagen = FakerProfileDataSnapshot(data_dir='data')
display(datagen.create_batch(1))
path_csv = datagen.land_batch(1)
print(path_csv)

path_csv = datagen.land_batch(2)
print(path_csv)
path_csv = datagen.land_batch(3)
print(path_csv)

%ls data/landing

,job,company,name,sex,address,mail,birthdate
0,Contractor,"Boone, Gallagher and Scott",Misty Phillips,F,"4978 Chapman Bypass\nSanchezfurt, TN 23177",ana51@yahoo.com,1996-12-15
1,Rural practice surveyor,Osborne PLC,Alfred Hall,M,"11070 Wright Creek Apt. 541\nEast Jonathan, TN...",shawn57@yahoo.com,1922-02-28
2,Aeronautical engineer,Hughes-Fisher,Teresa Manning,F,"397 Maria Ways\nSouth Jamesville, OK 88863",fvargas@gmail.com,1997-04-03
3,Newspaper journalist,Gordon-Smith,Kyle Randall,M,"98150 Jones Way Apt. 251\nJonesside, OK 11215",michael49@hotmail.com,1922-03-06

data/landing/snapshot_2022-08-19.csv
data/landing/snapshot_2022-08-26.csv
data/landing/snapshot_2022-09-02.csv
snapshot_2022-08-19.csv  snapshot_2022-09-02.csv
snapshot_2022-08-26.csv  snapshot_2022-09-30.csv