# Soda scan with checks and profiling on delta table

## Setup

In [1]:
%reload_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path 
import pandas as pd
from utils.data_generation import FakerProfileDataSnapshot

from pyspark.sql import SparkSession
from  pyspark.sql.functions import input_file_name, split, regexp_extract

In [3]:
from delta import *

In [4]:
from pyspark.sql import SparkSession
from delta import *

builder = SparkSession.builder.appName("data-pipeline") \
    .config("spark.sql.extensions", "io.delta.sql.DeltaSparkSessionExtension") \
    .config("spark.sql.catalog.spark_catalog", "org.apache.spark.sql.delta.catalog.DeltaCatalog")

spark = configure_spark_with_delta_pip(builder).getOrCreate()

In [5]:
# object for data generation
datagen = FakerProfileDataSnapshot(
    data_dir=str(Path('./data').resolve())
)
# clean landing storage
datagen.delete_batches_in_landing_dir()
print(datagen.bronze_dir)
datagen.delete_bronze_dir()

/home/jovyan/work/data/bronze

## Parameters

In [6]:
read_csv_options = {'header': 'true', 'inferSchema': 'true', 'delimiter': ',', 'quote': '"', 'multiLine': 'true'}

In [7]:
location_landing = datagen.landing_dir
location_bronze = datagen.bronze_dir

## Processing

### Generate data - CSV

In [8]:
path_csv = datagen.land_batch(7)
path_csv

'/home/jovyan/work/data/landing/snapshot_2022-09-30.csv'

### Create delta table

In [9]:
df = spark.read.format('csv').options(**read_csv_options).load(str(path_csv)) \
    .withColumn("_delivery", regexp_extract(input_file_name(), '.*_(.*).csv$', 1))
df.toPandas()

,id,job,company,ssn,website,username,name,address,mail,birthdate,_delivery
0,0,Contractor,"Boone, Gallagher and Scott",508-98-7365,"['https://hall.info/', 'https://www.monroe-haw...",paula86,Misty Phillips,"4978 Chapman Bypass\nSanchezfurt, TN 23177",ana51@yahoo.com,1996-12-15,2022-09-30
1,1,Rural practice surveyor,Osborne PLC,861-51-6071,"['https://kelley.net/', 'http://www.herring-ca...",andreawhite,Alfred Hall,"11070 Wright Creek Apt. 541\nEast Jonathan, TN...",shawn57@yahoo.com,1922-02-28,2022-09-30
2,3,Newspaper journalist,Gordon-Smith,627-52-4610,['http://www.jackson.com/'],matthew14,Kyle Randall,"98150 Jones Way Apt. 251\nJonesside, OK 11215",michael49@hotmail.com,1922-03-06,2022-09-30
3,4,"Programmer, systems",Rodriguez-Williams,303-02-0239,"['https://www.pearson.com/', 'http://carlson.c...",kdavis,Sally Davis,"4052 Sparks Prairie\nJohnville, RI 76389",sanchezandrew@gmail.com,1961-04-20,2022-09-30
4,6,"Surveyor, rural practice",Jackson-Davis,498-01-2910,"['https://evans.info/', 'http://www.choi.com/']",simpsonphillip,Keith Todd,"280 Lindsey Road Apt. 412\nSouth Melissabury, ...",umartin@yahoo.com,1923-10-24,2022-09-30
5,9,"Surveyor, commercial/residential",Kelly-Singh,402-72-6549,"['http://www.english.com/', 'https://wilson.co...",rpeterson,Kelsey Ramsey,"36377 Christensen Fort\nPort Justin, OR 51565",shannonscott@yahoo.com,1987-05-30,2022-09-30
6,12,Secondary school teacher,Hernandez Ltd,334-42-9390,['http://walker.biz/'],harriscarl,Veronica Maldonado,"32860 Yoder Oval\nJeffreyborough, NM 31331",xchavez@hotmail.com,1932-04-26,2022-09-30
7,13,Race relations officer,"Jones, Randall and Cherry",418-26-0136,"['https://turner-hunter.org/', 'http://www.fie...",hbryant,Samuel Mack,"2024 Hodge Radial\nStefaniechester, NY 38154",bvazquez@yahoo.com,2012-05-14,2022-09-30
8,14,"Radiographer, diagnostic",Baldwin Group,412-92-6966,"['https://shah.net/', 'https://www.cohen-white...",gphillips,Anita Price,"97126 Gary Glens Suite 847\nPort Katherine, NM...",toddjessica@yahoo.com,2003-02-01,2022-09-30
9,15,"Geologist, engineering",Fernandez Group,308-98-1651,"['https://morgan.com/', 'https://www.gordon.co...",robert00,Courtney Gonzalez,"34549 Johnson Isle\nDonaldview, WI 19280",reedchristopher@gmail.com,1947-06-13,2022-09-30
10,16,Investment analyst,Adams Inc,371-04-1284,"['https://www.turner.com/', 'http://www.merrit...",mcintyredonald,Jill Anderson,"5542 Melinda Light\nSullivanberg, LA 87910",medinaalec@hotmail.com,1924-08-30,2022-09-30
11,17,Museum education officer,"Hoffman, Andrade and Stevens",798-56-9807,"['http://www.hart.com/', 'http://www.edwards.c...",hesterandrew,Lori Kline,"PSC 6263, Box 1355\nAPO AP 32636",xpaul@yahoo.com,1995-04-12,2022-09-30
12,18,"Engineer, biomedical",Alexander-Weaver,586-63-4366,"['https://www.lara.com/', 'https://www.hampton...",lauraboyle,Alison Robinson,"67190 Davis Court\nWilliamshaven, WI 02095",moseslarry@yahoo.com,2005-01-04,2022-09-30
13,19,Pathologist,Larson PLC,725-41-8761,"['https://cunningham-smith.com/', 'https://www...",johnsonrichard,Taylor Hernandez,"928 Sara Vista\nTaylorborough, VA 52559",kaitlyn23@yahoo.com,2003-02-28,2022-09-30

In [10]:
df.write.format('delta').option('overwriteSchema', 'true').mode('overwrite').save(location_bronze)

In [11]:
spark.sql('DROP TABLE IF EXISTS snapshot')
spark.sql(f'CREATE TABLE IF NOT EXISTS snapshot USING DELTA LOCATION "{location_bronze}"')

DataFrame[]

In [12]:
spark.sql(f'DESCRIBE HISTORY snapshot').toPandas()

,version,timestamp,userId,userName,operation,operationParameters,job,notebook,clusterId,readVersion,isolationLevel,isBlindAppend,operationMetrics,userMetadata,engineInfo
0,0,2022-08-15 19:12:32.553,None,None,WRITE,"{'mode': 'Overwrite', 'partitionBy': '[]'}",None,None,None,NaN,Serializable,False,"{'numOutputRows': '14', 'numOutputBytes': '628...",None,Apache-Spark/3.2.1 Delta-Lake/2.0.0

### Run soda scan

... with checks, discovery, profiling.

In [13]:
from soda.scan import Scan

scan = Scan()
scan.disable_telemetry()
scan.set_data_source_name('snapshot')
scan.add_spark_session(spark, 'snapshot')

scan.add_sodacl_yaml_str('''
checks for snapshot:
  - row_count = 13
  - duplicate_count(id, mail) = 0
  - missing_count(id, mail) = 0
  - invalid_count(mail) = 0:
      valid format: email
  - invalid_percent(ssn, birthdate) = 0:
      valid length: 10
discover tables:
  tables:
    - include snapshot
profile columns:
  columns:
    - snapshot.%
''')
# scan.set_verbose() # ?
exit_code = scan.execute()
exit_code

root
 |-- count(1): long (nullable = false)
 |-- count(CASE WHEN (id IS NULL) THEN 1 END): long (nullable = false)
 |-- count(CASE WHEN ((NOT (mail IS NULL)) AND (NOT RLIKE(mail, ^[a-zA-ZÀ-ÿĀ-ſƀ-ȳ0-9.\-_%]+@[a-zA-ZÀ-ÿĀ-ſƀ-ȳ0-9.\-_%]+\.[A-Za-z]{2,4}$))) THEN 1 END): long (nullable = false)
 |-- count(1): long (nullable = false)
 |-- count(CASE WHEN ((NOT (ssn IS NULL)) AND (NOT (length(ssn) = 10))) THEN 1 END): long (nullable = false)

+--------+----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------+--------+------------------------------------------------------------------------------+
|count(1)|count(CASE WHEN (id IS NULL) THEN 1 END)|count(CASE WHEN ((NOT (mail IS NULL)) AND (NOT RLIKE(mail, ^[a-zA-ZÀ-ÿĀ-ſƀ-ȳ0-9.\-_%]+@[a-zA-ZÀ-ÿĀ-ſƀ-ȳ0-9.\-_%]+\.[A-Za-z]{2,4}$))) THEN 1 END)|count(1)|count(CASE WHEN ((NOT (ssn IS NULL)) AND (NOT (length(ssn) = 10))) THEN 1 END)|
+--------+----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------+--------+------------------------------------------------------------------------------+
|      14|                                       0|                                                                                                                                               0|      14|                                                                            14|
+--------+----------------------------------------+------------------------------------------------------------------------------------------------------------------------------------------------+--------+------------------------------------------------------------------------------+

root
 |-- id: integer (nullable = true)
 |-- job: string (nullable = true)
 |-- company: string (nullable = true)
 |-- ssn: string (nullable = true)
 |-- website: string (nullable = true)
 |-- username: string (nullable = true)
 |-- name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- mail: string (nullable = true)
 |-- birthdate: string (nullable = true)
 |-- _delivery: string (nullable = true)

+---+--------------------+--------------------+-----------+--------------------+--------------+------------------+--------------------+--------------------+----------+----------+
| id|                 job|             company|        ssn|             website|      username|              name|             address|                mail| birthdate| _delivery|
+---+--------------------+--------------------+-----------+--------------------+--------------+------------------+--------------------+--------------------+----------+----------+
|  0|          Contractor|Boone, Gallagher ...|508-98-7365|['https://hall.in...|       paula86|    Misty Phillips|4978 Chapman Bypa...|     ana51@yahoo.com|1996-12-15|2022-09-30|
|  1|Rural practice su...|         Osborne PLC|861-51-6071|['https://kelley....|   andreawhite|       Alfred Hall|11070 Wright Cree...|   shawn57@yahoo.com|1922-02-28|2022-09-30|
|  3|Newspaper journalist|        Gordon-Smith|627-52-4610|['http://www.jack...|     matthew14|      Kyle Randall|98150 Jones Way A...|michael49@hotmail...|1922-03-06|2022-09-30|
|  4| Programmer, systems|  Rodriguez-Williams|303-02-0239|['https://www.pea...|        kdavis|       Sally Davis|4052 Sparks Prair...|sanchezandrew@gma...|1961-04-20|2022-09-30|
|  6|Surveyor, rural p...|       Jackson-Davis|498-01-2910|['https://evans.i...|simpsonphillip|        Keith Todd|280 Lindsey Road ...|   umartin@yahoo.com|1923-10-24|2022-09-30|
|  9|Surveyor, commerc...|         Kelly-Singh|402-72-6549|['http://www.engl...|     rpeterson|     Kelsey Ramsey|36377 Christensen...|shannonscott@yaho...|1987-05-30|2022-09-30|
| 12|Secondary school ...|       Hernandez Ltd|334-42-9390|['http://walker.b...|    harriscarl|Veronica Maldonado|32860 Yoder Oval\...| xchavez@hotmail.com|1932-04-26|2022-09-30|
| 13|Race relations of...|Jones, Randall an...|418-26-0136|['https://turner-...|       hbryant|       Samuel Mack|2024 Hodge Radial...|  bvazquez@yahoo.com|2012-05-14|2022-09-30|
| 14|Radiographer, dia...|       Baldwin Group|412-92-6966|['https://shah.ne...|     gphillips|       Anita Price|97126 Gary Glens ...|toddjessica@yahoo...|2003-02-01|2022-09-30|
| 15|Geologist, engine...|     Fernandez Group|308-98-1651|['https://morgan....|      robert00| Courtney Gonzalez|34549 Johnson Isl...|reedchristopher@g...|1947-06-13|2022-09-30|
| 16|  Investment analyst|           Adams Inc|371-04-1284|['https://www.tur...|mcintyredonald|     Jill Anderson|5542 Melinda Ligh...|medinaalec@hotmai...|1924-08-30|2022-09-30|
| 17|Museum education ...|Hoffman, Andrade ...|798-56-9807|['http://www.hart...|  hesterandrew|        Lori Kline|PSC 6263, Box 135...|     xpaul@yahoo.com|1995-04-12|2022-09-30|
| 18|Engineer, biomedical|    Alexander-Weaver|586-63-4366|['https://www.lar...|    lauraboyle|   Alison Robinson|67190 Davis Court...|moseslarry@yahoo.com|2005-01-04|2022-09-30|
| 19|         Pathologist|          Larson PLC|725-41-8761|['https://cunning...|johnsonrichard|  Taylor Hernandez|928 Sara Vista\nT...| kaitlyn23@yahoo.com|2003-02-28|2022-09-30|
+---+--------------------+--------------------+-----------+--------------------+--------------+------------------+--------------------+--------------------+----------+----------+

root
 |-- id: integer (nullable = true)
 |-- mail: string (nullable = true)
 |-- frequency: long (nullable = false)

+---+----+---------+
| id|mail|frequency|
+---+----+---------+
+---+----+---------+

root
 |-- namespace: string (nullable = false)
 |-- tableName: string (nullable = false)
 |-- isTemporary: boolean (nullable = false)

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default| snapshot|      false|
+---------+---------+-----------+

root
 |-- count(1): long (nullable = false)

+--------+
|count(1)|
+--------+
|      14|
+--------+

root
 |-- col_name: string (nullable = false)
 |-- data_type: string (nullable = false)
 |-- comment: string (nullable = true)

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|             id|      int|       |
|            job|   string|       |
|        company|   string|       |
|            ssn|   string|       |
|        website|   string|       |
|       username|   string|       |
|           name|   string|       |
|        address|   string|       |
|           mail|   string|       |
|      birthdate|   string|       |
|      _delivery|   string|       |
|               |         |       |
| # Partitioning|         |       |
|Not partitioned|         |       |
+---------------+---------+-------+

root
 |-- namespace: string (nullable = false)
 |-- tableName: string (nullable = false)
 |-- isTemporary: boolean (nullable = false)

+---------+---------+-----------+
|namespace|tableName|isTemporary|
+---------+---------+-----------+
|  default| snapshot|      false|
+---------+---------+-----------+

root
 |-- col_name: string (nullable = false)
 |-- data_type: string (nullable = false)
 |-- comment: string (nullable = true)

+---------------+---------+-------+
|       col_name|data_type|comment|
+---------------+---------+-------+
|             id|      int|       |
|            job|   string|       |
|        company|   string|       |
|            ssn|   string|       |
|        website|   string|       |
|       username|   string|       |
|           name|   string|       |
|        address|   string|       |
|           mail|   string|       |
|      birthdate|   string|       |
|      _delivery|   string|       |
|               |         |       |
| # Partitioning|         |       |
|Not partitioned|         |       |
+---------------+---------+-------+

root
 |-- metric_: string (nullable = false)
 |-- index_: integer (nullable = false)
 |-- value_: integer (nullable = true)
 |-- frequency_: long (nullable = false)

+---------------+------+------+----------+
|        metric_|index_|value_|frequency_|
+---------------+------+------+----------+
|frequent_values|     1|    12|         1|
|frequent_values|     2|     1|         1|
|frequent_values|     3|    13|         1|
|frequent_values|     4|     6|         1|
|frequent_values|     5|    16|         1|
|frequent_values|     6|     3|         1|
|frequent_values|     7|    19|         1|
|frequent_values|     8|    15|         1|
|frequent_values|     9|     9|         1|
|frequent_values|    10|    17|         1|
|           maxs|     1|    19|         1|
|           maxs|     2|    18|         1|
|           maxs|     3|    17|         1|
|           maxs|     4|    16|         1|
|           maxs|     5|    15|         1|
|           mins|     1|     0|         1|
|           mins|     2|     1|         1|
|           mins|     3|     3|         1|
|           mins|     4|     4|         1|
|           mins|     5|     6|         1|
+---------------+------+------+----------+

root
 |-- average: double (nullable = true)
 |-- sum: long (nullable = true)
 |-- variance: double (nullable = true)
 |-- standard_deviation: double (nullable = true)
 |-- distinct_values: long (nullable = false)
 |-- missing_values: long (nullable = true)

+-------+---+-----------------+------------------+---------------+--------------+
|average|sum|         variance|standard_deviation|distinct_values|missing_values|
+-------+---+-----------------+------------------+---------------+--------------+
|   10.5|147|43.34615384615384| 6.583779601881721|             14|             0|
+-------+---+-----------------+------------------+---------------+--------------+

root
 |-- sum(CASE WHEN (value_ < 2) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((2 <= value_) AND (value_ < 3)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((3 <= value_) AND (value_ < 5)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((5 <= value_) AND (value_ < 6)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((6 <= value_) AND (value_ < 8)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((8 <= value_) AND (value_ < 9)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((9 <= value_) AND (value_ < 11)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((11 <= value_) AND (value_ < 12)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((12 <= value_) AND (value_ < 14)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((14 <= value_) AND (value_ < 15)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((15 <= value_) AND (value_ < 17)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((17 <= value_) AND (value_ < 18)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN ((18 <= value_) AND (value_ < 19)) THEN frequency_ END): long (nullable = true)
 |-- sum(CASE WHEN (19 <= value_) THEN frequency_ END): long (nullable = true)

+-----------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+--------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------+
|sum(CASE WHEN (value_ < 2) THEN frequency_ END)|sum(CASE WHEN ((2 <= value_) AND (value_ < 3)) THEN frequency_ END)|sum(CASE WHEN ((3 <= value_) AND (value_ < 5)) THEN frequency_ END)|sum(CASE WHEN ((5 <= value_) AND (value_ < 6)) THEN frequency_ END)|sum(CASE WHEN ((6 <= value_) AND (value_ < 8)) THEN frequency_ END)|sum(CASE WHEN ((8 <= value_) AND (value_ < 9)) THEN frequency_ END)|sum(CASE WHEN ((9 <= value_) AND (value_ < 11)) THEN frequency_ END)|sum(CASE WHEN ((11 <= value_) AND (value_ < 12)) THEN frequency_ END)|sum(CASE WHEN ((12 <= value_) AND (value_ < 14)) THEN frequency_ END)|sum(CASE WHEN ((14 <= value_) AND (value_ < 15)) THEN frequency_ END)|sum(CASE WHEN ((15 <= value_) AND (value_ < 17)) THEN frequency_ END)|sum(CASE WHEN ((17 <= value_) AND (value_ < 18)) THEN frequency_ END)|sum(CASE WHEN ((18 <= value_) AND (value_ < 19)) THEN frequency_ END)|sum(CASE WHEN (19 <= value_) THEN frequency_ END)|
+-----------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+--------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------+
|                                              2|                                                               null|                                                                  2|                                                               null|                                                                  1|                                                               null|                                                                   1|                                                                 null|                                                                    2|                                                                    1|                                                                    2|                                                                    1|                                                                    1|                                                1|
+-----------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+-------------------------------------------------------------------+--------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+---------------------------------------------------------------------+-------------------------------------------------+

root
 |-- metric_: string (nullable = false)
 |-- index_: integer (nullable = false)
 |-- value_: string (nullable = true)
 |-- frequency_: long (nullable = false)

+---------------+------+--------------------+----------+
|        metric_|index_|              value_|frequency_|
+---------------+------+--------------------+----------+
|frequent_values|     1|          Contractor|         1|
|frequent_values|     2|Rural practice su...|         1|
|frequent_values|     3|Museum education ...|         1|
|frequent_values|     4|Secondary school ...|         1|
|frequent_values|     5|         Pathologist|         1|
|frequent_values|     6|Race relations of...|         1|
|frequent_values|     7|Surveyor, rural p...|         1|
|frequent_values|     8|Newspaper journalist|         1|
|frequent_values|     9|Surveyor, commerc...|         1|
|frequent_values|    10|Geologist, engine...|         1|
+---------------+------+--------------------+----------+

root
 |-- distinct_values: long (nullable = false)
 |-- missing_values: long (nullable = true)
 |-- avg_length: double (nullable = true)
 |-- min_length: integer (nullable = true)
 |-- max_length: integer (nullable = true)

+---------------+--------------+------------------+----------+----------+
|distinct_values|missing_values|        avg_length|min_length|max_length|
+---------------+--------------+------------------+----------+----------+
|             14|             0|20.928571428571427|        10|        32|
+---------------+--------------+------------------+----------+----------+

root
 |-- metric_: string (nullable = false)
 |-- index_: integer (nullable = false)
 |-- value_: string (nullable = true)
 |-- frequency_: long (nullable = false)

+---------------+------+--------------------+----------+
|        metric_|index_|              value_|frequency_|
+---------------+------+--------------------+----------+
|frequent_values|     1|       Hernandez Ltd|         1|
|frequent_values|     2|        Gordon-Smith|         1|
|frequent_values|     3|       Baldwin Group|         1|
|frequent_values|     4|  Rodriguez-Williams|         1|
|frequent_values|     5|    Alexander-Weaver|         1|
|frequent_values|     6|Boone, Gallagher ...|         1|
|frequent_values|     7|         Kelly-Singh|         1|
|frequent_values|     8|         Osborne PLC|         1|
|frequent_values|     9|       Jackson-Davis|         1|
|frequent_values|    10|          Larson PLC|         1|
+---------------+------+--------------------+----------+

root
 |-- distinct_values: long (nullable = false)
 |-- missing_values: long (nullable = true)
 |-- avg_length: double (nullable = true)
 |-- min_length: integer (nullable = true)
 |-- max_length: integer (nullable = true)

+---------------+--------------+------------------+----------+----------+
|distinct_values|missing_values|        avg_length|min_length|max_length|
+---------------+--------------+------------------+----------+----------+
|             14|             0|15.714285714285714|         9|        28|
+---------------+--------------+------------------+----------+----------+

root
 |-- metric_: string (nullable = false)
 |-- index_: integer (nullable = false)
 |-- value_: string (nullable = true)
 |-- frequency_: long (nullable = false)

+---------------+------+-----------+----------+
|        metric_|index_|     value_|frequency_|
+---------------+------+-----------+----------+
|frequent_values|     1|861-51-6071|         1|
|frequent_values|     2|586-63-4366|         1|
|frequent_values|     3|798-56-9807|         1|
|frequent_values|     4|412-92-6966|         1|
|frequent_values|     5|508-98-7365|         1|
|frequent_values|     6|418-26-0136|         1|
|frequent_values|     7|402-72-6549|         1|
|frequent_values|     8|627-52-4610|         1|
|frequent_values|     9|498-01-2910|         1|
|frequent_values|    10|308-98-1651|         1|
+---------------+------+-----------+----------+

root
 |-- distinct_values: long (nullable = false)
 |-- missing_values: long (nullable = true)
 |-- avg_length: double (nullable = true)
 |-- min_length: integer (nullable = true)

2

### Store soda scan results to delta table

In [15]:
for ele in scan._checks:
    print(ele.get_cloud_dict())
pd.DataFrame([ele.get_cloud_dict() for ele in scan._checks])

{'identity': '27c242a2', 'name': 'row_count = 13', 'type': 'metricThreshold', 'definition': 'checks for snapshot:\n  row_count = 13', 'location': {'filePath': 'sodacl_string.yml', 'line': 3, 'col': 5}, 'dataSource': 'snapshot', 'table': 'snapshot', 'column': None, 'metrics': ['metric-snapshot-snapshot-row_count'], 'outcome': 'fail', 'diagnostics': {'value': 14, 'fail': {'greaterThan': 13.0, 'lessThan': 13.0}}}
{'identity': '9027c3d2', 'name': 'duplicate_count(id, mail) = 0', 'type': 'metricThreshold', 'definition': 'checks for snapshot:\n  duplicate_count(id, mail) = 0', 'location': {'filePath': 'sodacl_string.yml', 'line': 4, 'col': 5}, 'dataSource': 'snapshot', 'table': 'snapshot', 'column': None, 'metrics': ['metric-snapshot-snapshot-duplicate_count-248c8fa3'], 'outcome': 'pass', 'diagnostics': {'value': 0, 'fail': {'greaterThan': 0.0, 'lessThan': 0.0}}}
{'identity': 'c322a794', 'name': 'missing_count(id, mail) = 0', 'type': 'metricThreshold', 'definition': 'checks for snapshot:\n  missing_count(id, mail) = 0', 'location': {'filePath': 'sodacl_string.yml', 'line': 5, 'col': 5}, 'dataSource': 'snapshot', 'table': 'snapshot', 'column': 'id', 'metrics': ['metric-snapshot-snapshot-id-missing_count-248c8fa3'], 'outcome': 'pass', 'diagnostics': {'value': 0, 'fail': {'greaterThan': 0.0, 'lessThan': 0.0}}}
{'identity': '55ab369a', 'name': 'invalid_count(mail) = 0', 'type': 'metricThreshold', 'definition': 'checks for snapshot:\n  - invalid_count(mail) = 0:\n      valid format: email\n', 'location': {'filePath': 'sodacl_string.yml', 'line': 6, 'col': 5}, 'dataSource': 'snapshot', 'table': 'snapshot', 'column': 'mail', 'metrics': ['metric-snapshot-snapshot-mail-invalid_count-61813b33'], 'outcome': 'pass', 'diagnostics': {'value': 0, 'fail': {'greaterThan': 0.0, 'lessThan': 0.0}}}
{'identity': '2b0efc8f', 'name': 'invalid_percent(ssn, birthdate) = 0', 'type': 'metricThreshold', 'definition': 'checks for snapshot:\n  - invalid_percent(ssn, birthdate) = 0:\n      valid length: 10\n', 'location': {'filePath': 'sodacl_string.yml', 'line': 8, 'col': 5}, 'dataSource': 'snapshot', 'table': 'snapshot', 'column': 'ssn', 'metrics': ['metric-snapshot-snapshot-ssn-invalid_percent-3a74e0ac'], 'outcome': 'fail', 'diagnostics': {'value': 100.0, 'fail': {'greaterThan': 0.0, 'lessThan': 0.0}, 'failedRowsFile': {'columns': [{'name': 'id', 'type': 'IntegerType'}, {'name': 'job', 'type': 'StringType'}, {'name': 'company', 'type': 'StringType'}, {'name': 'ssn', 'type': 'StringType'}, {'name': 'website', 'type': 'StringType'}, {'name': 'username', 'type': 'StringType'}, {'name': 'name', 'type': 'StringType'}, {'name': 'address', 'type': 'StringType'}, {'name': 'mail', 'type': 'StringType'}, {'name': 'birthdate', 'type': 'StringType'}, {'name': '_delivery', 'type': 'StringType'}], 'totalRowCount': 14, 'storedRowCount': 14}}}

,identity,name,type,definition,location,dataSource,table,column,metrics,outcome,diagnostics
0,27c242a2,row_count = 13,metricThreshold,checks for snapshot:\n row_count = 13,"{'filePath': 'sodacl_string.yml', 'line': 3, '...",snapshot,snapshot,None,[metric-snapshot-snapshot-row_count],fail,"{'value': 14, 'fail': {'greaterThan': 13.0, 'l..."
1,9027c3d2,"duplicate_count(id, mail) = 0",metricThreshold,"checks for snapshot:\n duplicate_count(id, ma...","{'filePath': 'sodacl_string.yml', 'line': 4, '...",snapshot,snapshot,None,[metric-snapshot-snapshot-duplicate_count-248c...,pass,"{'value': 0, 'fail': {'greaterThan': 0.0, 'les..."
2,c322a794,"missing_count(id, mail) = 0",metricThreshold,"checks for snapshot:\n missing_count(id, mail...","{'filePath': 'sodacl_string.yml', 'line': 5, '...",snapshot,snapshot,id,[metric-snapshot-snapshot-id-missing_count-248...,pass,"{'value': 0, 'fail': {'greaterThan': 0.0, 'les..."
3,55ab369a,invalid_count(mail) = 0,metricThreshold,checks for snapshot:\n - invalid_count(mail) ...,"{'filePath': 'sodacl_string.yml', 'line': 6, '...",snapshot,snapshot,mail,[metric-snapshot-snapshot-mail-invalid_count-6...,pass,"{'value': 0, 'fail': {'greaterThan': 0.0, 'les..."
4,2b0efc8f,"invalid_percent(ssn, birthdate) = 0",metricThreshold,"checks for snapshot:\n - invalid_percent(ssn,...","{'filePath': 'sodacl_string.yml', 'line': 8, '...",snapshot,snapshot,ssn,[metric-snapshot-snapshot-ssn-invalid_percent-...,fail,"{'value': 100.0, 'fail': {'greaterThan': 0.0, ..."

In [16]:
for ele in scan._metrics:
    print(ele.get_cloud_dict())
pd.DataFrame([ele.get_cloud_dict() for ele in scan._metrics])

{'identity': 'metric-snapshot-snapshot-duplicate_count-248c8fa3', 'metricName': 'duplicate_count', 'value': 0}
{'identity': 'metric-snapshot-snapshot-ssn-invalid_percent-3a74e0ac', 'metricName': 'invalid_percent', 'value': 100.0}
{'identity': 'metric-snapshot-snapshot-row_count-0496d604', 'metricName': 'row_count', 'value': 14}
{'identity': 'metric-snapshot-snapshot-ssn-invalid_count-3a74e0ac', 'metricName': 'invalid_count', 'value': 14}
{'identity': 'metric-snapshot-snapshot-row_count', 'metricName': 'row_count', 'value': 14}
{'identity': 'metric-snapshot-snapshot-mail-invalid_count-61813b33', 'metricName': 'invalid_count', 'value': 0}
{'identity': 'metric-snapshot-snapshot-id-missing_count-248c8fa3', 'metricName': 'missing_count', 'value': 0}

                                            identity       metricName  value
0  metric-snapshot-snapshot-duplicate_count-248c8fa3  duplicate_count    0.0
1  metric-snapshot-snapshot-ssn-invalid_percent-3...  invalid_percent  100.0
2        metric-snapshot-snapshot-row_count-0496d604        row_count   14.0
3  metric-snapshot-snapshot-ssn-invalid_count-3a7...    invalid_count   14.0
4                 metric-snapshot-snapshot-row_count        row_count   14.0
5  metric-snapshot-snapshot-mail-invalid_count-61...    invalid_count    0.0
6  metric-snapshot-snapshot-id-missing_count-248c...    missing_count    0.0

In [17]:
import pandas as pd
for ele in scan._profile_columns_result_tables:
    print(ele.get_cloud_dict())
display(pd.DataFrame(ele.get_cloud_dict()))
display(pd.DataFrame(scan._profile_columns_result_tables[0].get_cloud_dict()['columnProfiles']))

{'table': 'snapshot', 'dataSource': 'snapshot', 'columnProfiles': [{'columnName': 'id', 'profile': {'mins': [0.0, 1.0, 3.0, 4.0, 6.0], 'maxs': [19.0, 18.0, 17.0, 16.0, 15.0], 'min': 0.0, 'max': 19.0, 'frequent_values': [{'value': '12', 'frequency': 1}, {'value': '1', 'frequency': 1}, {'value': '13', 'frequency': 1}, {'value': '6', 'frequency': 1}, {'value': '16', 'frequency': 1}, {'value': '3', 'frequency': 1}, {'value': '19', 'frequency': 1}, {'value': '15', 'frequency': 1}, {'value': '9', 'frequency': 1}, {'value': '17', 'frequency': 1}], 'avg': 10.5, 'sum': 147.0, 'stddev': 6.583779601881721, 'variance': 43.34615384615384, 'distinct': 14, 'missing_count': 0, 'histogram': {'boundaries': [0.0, 1.46, 2.92, 4.38, 5.85, 7.31, 8.77, 10.23, 11.69, 13.15, 14.62, 16.08, 17.54, 19.0], 'frequencies': [2, 0, 2, 0, 1, 0, 1, 0, 2, 1, 2, 1, 1, 1]}, 'avg_length': None, 'min_length': None, 'max_length': None}}, {'columnName': 'job', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': 'Contractor', 'frequency': 1}, {'value': 'Rural practice surveyor', 'frequency': 1}, {'value': 'Museum education officer', 'frequency': 1}, {'value': 'Secondary school teacher', 'frequency': 1}, {'value': 'Pathologist', 'frequency': 1}, {'value': 'Race relations officer', 'frequency': 1}, {'value': 'Surveyor, rural practice', 'frequency': 1}, {'value': 'Newspaper journalist', 'frequency': 1}, {'value': 'Surveyor, commercial/residential', 'frequency': 1}, {'value': 'Geologist, engineering', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 20, 'min_length': 10, 'max_length': 32}}, {'columnName': 'company', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': 'Hernandez Ltd', 'frequency': 1}, {'value': 'Gordon-Smith', 'frequency': 1}, {'value': 'Baldwin Group', 'frequency': 1}, {'value': 'Rodriguez-Williams', 'frequency': 1}, {'value': 'Alexander-Weaver', 'frequency': 1}, {'value': 'Boone, Gallagher and Scott', 'frequency': 1}, {'value': 'Kelly-Singh', 'frequency': 1}, {'value': 'Osborne PLC', 'frequency': 1}, {'value': 'Jackson-Davis', 'frequency': 1}, {'value': 'Larson PLC', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 15, 'min_length': 9, 'max_length': 28}}, {'columnName': 'ssn', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': '861-51-6071', 'frequency': 1}, {'value': '586-63-4366', 'frequency': 1}, {'value': '798-56-9807', 'frequency': 1}, {'value': '412-92-6966', 'frequency': 1}, {'value': '508-98-7365', 'frequency': 1}, {'value': '418-26-0136', 'frequency': 1}, {'value': '402-72-6549', 'frequency': 1}, {'value': '627-52-4610', 'frequency': 1}, {'value': '498-01-2910', 'frequency': 1}, {'value': '308-98-1651', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 11, 'min_length': 11, 'max_length': 11}}, {'columnName': 'website', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': "['https://evans.info/', 'http://www.choi.com/']", 'frequency': 1}, {'value': "['https://turner-hunter.org/', 'http://www.fields-vang.org/', 'http://morales-zuniga.com/', 'http://www.reyes.com/']", 'frequency': 1}, {'value': "['http://www.hart.com/', 'http://www.edwards.com/', 'https://howard-molina.com/', 'https://www.lynch.com/']", 'frequency': 1}, {'value': "['https://www.lara.com/', 'https://www.hampton.com/']", 'frequency': 1}, {'value': "['http://www.english.com/', 'https://wilson.com/', 'http://www.sanders.com/', 'http://www.pacheco.com/']", 'frequency': 1}, {'value': "['http://www.jackson.com/']", 'frequency': 1}, {'value': "['https://www.pearson.com/', 'http://carlson.com/', 'http://booker.org/', 'https://white-clark.com/']", 'frequency': 1}, {'value': "['https://morgan.com/', 'https://www.gordon.com/', 'http://snyder.com/', 'https://www.reid.com/']", 'frequency': 1}, {'value': "['https://www.turner.com/', 'http://www.merritt.net/', 'http://nelson.biz/', 'http://pena.com/']", 'frequency': 1}, {'value': "['https://shah.net/', 'https://www.cohen-white.com/']", 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 74, 'min_length': 22, 'max_length': 116}}, {'columnName': 'username', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': 'lauraboyle', 'frequency': 1}, {'value': 'hbryant', 'frequency': 1}, {'value': 'hesterandrew', 'frequency': 1}, {'value': 'gphillips', 'frequency': 1}, {'value': 'matthew14', 'frequency': 1}, {'value': 'johnsonrichard', 'frequency': 1}, {'value': 'rpeterson', 'frequency': 1}, {'value': 'andreawhite', 'frequency': 1}, {'value': 'harriscarl', 'frequency': 1}, {'value': 'kdavis', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 10, 'min_length': 6, 'max_length': 14}}, {'columnName': 'name', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': 'Lori Kline', 'frequency': 1}, {'value': 'Samuel Mack', 'frequency': 1}, {'value': 'Misty Phillips', 'frequency': 1}, {'value': 'Courtney Gonzalez', 'frequency': 1}, {'value': 'Veronica Maldonado', 'frequency': 1}, {'value': 'Keith Todd', 'frequency': 1}, {'value': 'Sally Davis', 'frequency': 1}, {'value': 'Jill Anderson', 'frequency': 1}, {'value': 'Kelsey Ramsey', 'frequency': 1}, {'value': 'Alfred Hall', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 13, 'min_length': 10, 'max_length': 18}}, {'columnName': 'address', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': '4978 Chapman Bypass\nSanchezfurt, TN 23177', 'frequency': 1}, {'value': '98150 Jones Way Apt. 251\nJonesside, OK 11215', 'frequency': 1}, {'value': '32860 Yoder Oval\nJeffreyborough, NM 31331', 'frequency': 1}, {'value': 'PSC 6263, Box 1355\nAPO AP 32636', 'frequency': 1}, {'value': '2024 Hodge Radial\nStefaniechester, NY 38154', 'frequency': 1}, {'value': '97126 Gary Glens Suite 847\nPort Katherine, NM 13982', 'frequency': 1}, {'value': '36377 Christensen Fort\nPort Justin, OR 51565', 'frequency': 1}, {'value': '67190 Davis Court\nWilliamshaven, WI 02095', 'frequency': 1}, {'value': '928 Sara Vista\nTaylorborough, VA 52559', 'frequency': 1}, {'value': '280 Lindsey Road Apt. 412\nSouth Melissabury, MS 57244', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 42, 'min_length': 31, 'max_length': 53}}, {'columnName': 'mail', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': 'ana51@yahoo.com', 'frequency': 1}, {'value': 'moseslarry@yahoo.com', 'frequency': 1}, {'value': 'xchavez@hotmail.com', 'frequency': 1}, {'value': 'reedchristopher@gmail.com', 'frequency': 1}, {'value': 'shawn57@yahoo.com', 'frequency': 1}, {'value': 'kaitlyn23@yahoo.com', 'frequency': 1}, {'value': 'shannonscott@yahoo.com', 'frequency': 1}, {'value': 'michael49@hotmail.com', 'frequency': 1}, {'value': 'sanchezandrew@gmail.com', 'frequency': 1}, {'value': 'xpaul@yahoo.com', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 19, 'min_length': 15, 'max_length': 25}}, {'columnName': 'birthdate', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': '1922-03-06', 'frequency': 1}, {'value': '1922-02-28', 'frequency': 1}, {'value': '1947-06-13', 'frequency': 1}, {'value': '1924-08-30', 'frequency': 1}, {'value': '2003-02-01', 'frequency': 1}, {'value': '2012-05-14', 'frequency': 1}, {'value': '1995-04-12', 'frequency': 1}, {'value': '1961-04-20', 'frequency': 1}, {'value': '1923-10-24', 'frequency': 1}, {'value': '2003-02-28', 'frequency': 1}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 14, 'missing_count': 0, 'histogram': None, 'avg_length': 10, 'min_length': 10, 'max_length': 10}}, {'columnName': '_delivery', 'profile': {'mins': None, 'maxs': None, 'min': None, 'max': None, 'frequent_values': [{'value': '2022-09-30', 'frequency': 14}], 'avg': None, 'sum': None, 'stddev': None, 'variance': None, 'distinct': 1, 'missing_count': 0, 'histogram': None, 'avg_length': 10, 'min_length': 10, 'max_length': 10}}]}

       table dataSource                                     columnProfiles
0   snapshot   snapshot  {'columnName': 'id', 'profile': {'mins': [0.0,...
1   snapshot   snapshot  {'columnName': 'job', 'profile': {'mins': None...
2   snapshot   snapshot  {'columnName': 'company', 'profile': {'mins': ...
3   snapshot   snapshot  {'columnName': 'ssn', 'profile': {'mins': None...
4   snapshot   snapshot  {'columnName': 'website', 'profile': {'mins': ...
5   snapshot   snapshot  {'columnName': 'username', 'profile': {'mins':...
6   snapshot   snapshot  {'columnName': 'name', 'profile': {'mins': Non...
7   snapshot   snapshot  {'columnName': 'address', 'profile': {'mins': ...
8   snapshot   snapshot  {'columnName': 'mail', 'profile': {'mins': Non...
9   snapshot   snapshot  {'columnName': 'birthdate', 'profile': {'mins'...
10  snapshot   snapshot  {'columnName': '_delivery', 'profile': {'mins'...

   columnName                                            profile
0          id  {'mins': [0.0, 1.0, 3.0, 4.0, 6.0], 'maxs': [1...
1         job  {'mins': None, 'maxs': None, 'min': None, 'max...
2     company  {'mins': None, 'maxs': None, 'min': None, 'max...
3         ssn  {'mins': None, 'maxs': None, 'min': None, 'max...
4     website  {'mins': None, 'maxs': None, 'min': None, 'max...
5    username  {'mins': None, 'maxs': None, 'min': None, 'max...
6        name  {'mins': None, 'maxs': None, 'min': None, 'max...
7     address  {'mins': None, 'maxs': None, 'min': None, 'max...
8        mail  {'mins': None, 'maxs': None, 'min': None, 'max...
9   birthdate  {'mins': None, 'maxs': None, 'min': None, 'max...
10  _delivery  {'mins': None, 'maxs': None, 'min': None, 'max...